<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Servicio</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

<div class="container mt-3">
    <div class="d-flex justify-content-start">
        <h1 style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);">Añadir el servicio al consumo</h1>
        <h1 th:text=" ${nombreTipoBebida}" style="margin-left: 10px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);"></h1>
    </div>

    <!-- Formulario de creación -->
    <form th:action="@{/addServicioSave}" th:object="${servicio}" method="post" style="margin-top: 35px;">

        <!-- Campo oculto para la variable nombreTipoBebida -->
        <input type="hidden" id="idConsumo" name="idConsumo" th:value="${idConsumo}" />
        
        <label for="nombreServicio">Nombre del servicio:</label>
        <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required />

        <label for="tipoServicio">Tipo:</label>
        <input type="text" id="tipo" name="tipo" th:field="*{tipo}" required />

        <label for="precioServicio">Precio:</label>
        <input type="text" id="precio" name="precio" th:field="*{precio}" required />


        <button type="submit" class="btn btn-success">Añadir Servicio</button>
    </form>

</div>

<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
