<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clientes Excelentes</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Clientes Excelentes</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID Cliente</th>
                    <th>Año</th>
                    <th>Trimestres Distintos</th>
                    <th>Número de Entradas</th>
                </tr>
            </thead>
            <a href="/hotelandes" class="btn btn-secondary">Volver al Menú Principal</a> <!-- Ajusta la ruta según sea necesario -->

            <tbody>
                <!-- Itera sobre la colección de clientes excelentes -->
                <tr th:each="clientesExcelentes : ${clientesExcelentes}">
                    <td th:text="${clientesExcelentes.getID_CLIENTE}">ID Cliente</td>
                    <td th:text="${clientesExcelentes.getYEAR}">Año</td>
                    <td th:text="${clientesExcelentes.getDISTINTOS_TRIMESTRES}">Trimestres Distintos</td>
                    <td th:text="${clientesExcelentes.getNUMERO_DE_ENTRADAS}">Número de Entradas</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
