<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" type="text/css" th:href ="@{/css/bootstrap.min.css}"/>
    <script th:src = "@{/css/jquery.min.js}"></script>
    <script th:src = "@{/css/bootstrap.min.js}"></script>
    <script>
        $(document).ready(function () {
            // Initial setup to hide/show columns based on checkboxes
            $('.toggle-column').change(function () {
                const column = $(this).data('column');
                if (this.checked) {
                    $(`.column-${column}`).show();
                } else {
                    $(`.column-${column}`).hide();
                }
            });
        });
    </script>
</head>
<body>
        <div>

            <div class = "container w-100">
                <div class = "card border border -2 mx_auto">
                    <h5 class="card-header" role ="button" id="headingOne">
                        <a href="#" class="collapsed d-block text-center" data-toggle="collapse" data-target="#busqueda">
                            Busqueda Avanzada
                        </a>
                    </h5>
                    <div id="busqueda" class="collapse">
                        <form th:action = "@{req4}" method = "get">
                            <label class ="col-form-label">nHabitacion</label>
                            <input class = "form-control" type = "text" id="nhabitacion" name = "nhabitacion"/>
                            <label class ="col-form-label">Fecha Inicial</label>
                            <input class = "form-control" type = "text" id="fechain" name = "fechain"/>
                            <label class ="col-form-label">Fecha Final</label>
                            <input class = "form-control" type = "text" id="fechafin" name = "fechafin"/>
                            <label class ="col-form-label">Costo Inferior</label>
                            <input class = "form-control" type = "text" id="costoinf" name = "costoinf"/>
                            <label class ="col-form-label">Costo Superior</label>
                            <input class = "form-control" type = "text" id="costosup" name = "costosup"/>
                            <div class = "text-center">
                                <button type="submit" class = "btn btn-secondary">Busqueda Usuario por Servicio</button>
                            </div>
                        </form>
                    </div>
                </div>

         
            <h1> Lista de Usuarios</h1> 
            <table class="table table-hover table-border">
                <thead class="thead-dark">
                    <tr>
                        <th><input type="checkbox" class="toggle-column" data-column="0" checked> Nombre Servicio</th>
                        <th><input type="checkbox" class="toggle-column" data-column="1" checked> Tipo Servicio</th>
                    </tr>
                </thead>
                <th:block th:each="servicioCaracterisitica:${servicioCaracterisitica}">
                    <tr>
                        <td class="column-0" th:text="${servicioCaracterisitica.getNOMBRE}"></td>
                        <td class="column-1" th:text="${servicioCaracterisitica.getDTYPE}"></td>
                        
                    </tr>
                </th:block>
            </table>
            
            <div>
                <a th:href='@{/}' class="btn btn-primary">Volver a la aplicación</a>
            </div>        


        </div>
</body>
</html>