<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Funcionamiento</title>
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

    
    <style>
       
    </style>
</head>
<body>
    <h1>Consultar Funcionamiento por Semana</h1>

   
    <form method="get" class="mb-4">
        <div class="form-group">
            <label for="inicio">Semana:</label>
            <input type="string" id="semana" name="semana" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>
    <a href="/hotelandes" class="btn btn-secondary">Volver al Menú Principal</a> 




    <table class="table table-responsive">
        <thead>
            <h1>Servicios Mas Solicitados</h1>
            <tr>
                <th>Semana</th>
                <th>Servicio</th>
                <th>Solicitudes Servicio</th>
                <th>Consumo</th>

        
            </tr>
        </thead>
        <tbody>
           
            <tr th:each="serviciomassolicitado : ${serviciomassolicitado}">
                <td th:text="${serviciomassolicitado.getSEMANA}">Semana</td>
                <td th:text="${serviciomassolicitado.getIDSERVICIO}">Servicio</td>
                <td th:text="${serviciomassolicitado.getSOLICITUDES_SERVICIO}">Solicitudes Servicio</td>
                <td th:text="${serviciomassolicitado.getCONSUMO}">Consumo</td>
        
            </tr>
        </tbody>
    </table>


    <table class="table table-responsive">
        <thead>
            <h1>Servicios Menos Solicitados</h1>
            <tr>
                <th>Semana</th>
                <th>Servicio</th>
                <th>Solicitudes Servicio</th>
                <th>Consumo</th>
        
            </tr>
        </thead>
        <tbody>
           
            <tr th:each="serviciomenossolicitado : ${serviciomenossolicitado}">
                <td th:text="${serviciomenossolicitado.getSEMANA}">Semana</td>
                <td th:text="${serviciomenossolicitado.getIDSERVICIO}">Servicio</td>
                <td th:text="${serviciomenossolicitado.getSOLICITUDES_SERVICIO}">Solicitudes Servicio</td>
                <td th:text="${serviciomenossolicitado.getCONSUMO}">Consumo</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-responsive">
        <thead>
            <h1>Habitaciones Mas Solicitadas</h1>
            <tr>
                <th>Semana</th>
                <th>Habitacion</th>
                <th>Solicitudes Habitacion</th>
        
            </tr>
        </thead>
        <tbody>
          
            <tr th:each="habitacionmassolicitada : ${habitacionmassolicitada}">
                <td th:text="${habitacionmassolicitada.getSEMANA}">Semana</td>
                <td th:text="${habitacionmassolicitada.getNHABITACION}">Habitacion</td>
                <td th:text="${habitacionmassolicitada.getCANTIDAD_HABITACION}">Solicitudes Habitacion</td>

            </tr>
        </tbody>
    </table>

    <table class="table table-responsive">
        <thead>
            <h1>Habitaciones Menos Solicitadas</h1>
            <tr>
                <th>Semana</th>
                <th>Habitacion</th>
                <th>Solicitudes Habitacion</th>
        
            </tr>
        </thead>
        <tbody>
           
            <tr th:each="habitacionmenossolicitada : ${habitacionmenossolicitada}">
                <td th:text="${habitacionmenossolicitada.getSEMANA}">Semana</td>
                <td th:text="${habitacionmenossolicitada.getNHABITACION}">Habitacion</td>
                <td th:text="${habitacionmenossolicitada.getCANTIDAD_HABITACION}">Solicitudes Habitacion</td>

            </tr>
        </tbody>
    </table>

</body>
</html>