<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buenos Clientes</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Buenos Clientes</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Usuario</th>
                    <th>Costo Consumo</th>
                    <th>Dias de Estadia</th>
                    
                </tr>
            </thead>
            <a href="/hotelandes" class="btn btn-secondary">Volver al Menú Principal</a> <!-- Ajusta la ruta según sea necesario -->

            <tbody>
                <!-- Itera sobre la colección de clientes excelentes -->
                <tr th:each="buenosclientes : ${buenosclientes}">
                    <td th:text="${buenosclientes.getIDUSUARIO}">Usuario</td>
                    <td th:text="${buenosclientes.getCOSTO_CONSUMO}">Costo Consumo</td>
                    <td th:text="${buenosclientes.getDIAS}">Dias de Estadia</td>
                    

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>